In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged_data.csv')

# Training data: All rows where 'Aarstall' is not equal to '2023'
train = df[df['Aarstall'] != 2023]

# Testing data: All rows where 'Aarstall' is equal to '2023'
test = df[df['Aarstall'] == 2023]

# Training features and target
X_train = train.drop(["Trafikkmengde"], axis=1)
y_train = train["Trafikkmengde"]

# Testing features and target
X_test = test.drop(["Trafikkmengde"], axis=1)
y_test = test["Trafikkmengde"]

In [3]:
X_train

,Solskinstid,Lufttemperatur,Vindstyrke,Lufttrykk,Vindkast,Globalstraling,Vindretning,Ukedag,Maaned,Aarstall,Klokkeslett,Rod_dag
0,43.4,13.900000,4.083333,1014.433333,6.70,504.400000,319.166667,3,7,2015,15,0
1,48.7,13.733333,4.333333,1014.400000,7.20,432.833333,317.500000,3,7,2015,16,0
2,60.0,13.866667,3.933333,1014.066667,6.55,378.400000,318.166667,3,7,2015,17,0
3,60.0,13.216667,4.233333,1013.966667,7.15,212.583333,319.833333,3,7,2015,18,0
4,60.0,12.683333,2.950000,1014.100000,5.45,79.750000,323.500000,3,7,2015,19,0
...,...,...,...,...,...,...,...,...,...,...,...,...
65348,0.0,1.766667,1.283333,991.400000,2.45,-0.400000,215.000000,5,12,2022,19,0
65349,0.0,0.666667,1.700000,992.300000,3.15,-0.150000,258.666667,5,12,2022,20,0
65350,0.0,0.483333,0.833333,992.883333,1.60,-1.750000,242.000000,5,12,2022,21,0
65351,0.0,0.516667,2.166667,993.866667,4.20,-0.933333,298.166667,5,12,2022,22,0
65352,0.0,0.316667,0.466667,994.416667,1.10,-3.983333,118.666667,5,12,2022,23,0